
.main-page{
  background-image: url("image-hero.jpg");
  background-size: cover;
  height: 100vh;
}
.header-container {
  flex-direction: row;
}
.nav-wrapper {
  height: 10rem;
  background-color: #121212;
  justify-content: center;
  align-items: center;
}

.footer-container {
  flex-direction: row;
  place-content: center;
}